<h2>Eventos</h2>
<hr />
<div form-inline>
  <div class="form-group mb-2">
    <label for="filtroLista">Filtro:</label>
    <input 
    type="text" 
    class="form-inline" 
    placeholder="Pesquisar" 
    [(ngModel)]="filtroLista"
    
    />
  </div>
</div>
<table class="table table-striped">
  <thead class="thead-dark">
    <tr align="center">
      
      <th>
        <button
          title="Exibir Imagem"
          class="navbar-toggler"
          (click)="alterarImagem()"
          type="button"
        >
          <span
            [ngClass]="{
              'show-img': exibirImagem,
              'hidden-img': !exibirImagem
            }"
          >
            <i
              class="fa-solid"
              [ngClass]="{
                'fa-eye': exibirImagem,
                'fa-eye-slash': !exibirImagem
              }"
            ></i>
          </span>
        </button>
      </th>
      <th>#</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Qtd Participantes</th>
      <th>Lote</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody *ngIf="eventos && eventos.length">
    <tr *ngFor="let evento of eventosFiltrados" align="center">
      <td>
        <div
          class="collapse navbar-collapse"
          [collapse]="exibirImagem"
          [isAnimated]="true"
        >
          <img
            src="assets/{{ evento.imagemURL }}"
            alt="imagem do evento"
            [style.width.px]="widthImg"
            [style.marginRight.px]="marginImg"
            [style.height.px]="heightImg"
          />
        </div>
      </td>
      <td>{{ evento.eventosId }}</td>
      <td>{{ evento.tema }}</td>
      <td>{{ evento.local }}</td>
      <td>{{ evento.dataEvento }}</td>
      <td>{{ evento.qtdPessoas }}</td>
      <td>{{ evento.lote }}</td>
      <td>
        <div class="dropdown">
          <button
            title="Opções"
            class="btn btn-secondary dropdown-toggle"
            type="button"
            id="dropdownMenuButton"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <i class="fa-solid fa-gear"></i>
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item">Action</a>
            <a class="dropdown-item">Another action</a>
            <a class="dropdown-item">Something else here</a>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="!eventos.length">
    <tr>
      <td colspan="8" class="text-center">
        <h4>Nenhum evento encontrado</h4>
      </td>
    </tr>
  </tfoot>
</table>
